//Fonts
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$primaryFont: 'Anton',
sans-serif;
$subFont: 'Raleway',
sans-serif;
//Mixins
@mixin center {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin centerNM {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin poster {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin poster-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

//Misc 
body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.center-container {
    @include center;
}

.poster {
    @include poster;
}

.poster-fixed {
    @include poster-fixed;
}

.center-container-nm {
    @include centerNM;
}

.colored-text {
    background: -webkit-linear-gradient(-30deg, #9D67E3, #6BB7CD);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.enphasis {
    font-weight: bolder;
}

.btn {
    font-family: $primaryFont;
    border: none;
    padding: .8rem 2rem;
    font-size: 1.3rem;
    letter-spacing: calc(0.02rem + 0.05vw);
}

.btn-primary {
    background: -webkit-linear-gradient(-30deg, #9D67E3, #6BB7CD);
    color: white;
    font-family: $primaryFont;
    border: none;
    font-size: 1.3rem;
    transition: 0.2s ease-in;
}

.btn-primary:hover {
    opacity: 0.7;
}

.btn-secondary {
    background-color: white;
    color: gray;
}

.btn-tertiary {
    background: none;
    border: none;
    font-size: 1.3rem;
    color: white;
}

#blur {
    z-index: 10;
    height: 100vh;
    transition: opacity 0.3s ease-out;
    will-change: opacity;
    overflow-x: hidden;
    @include poster;
}

.active-blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.active-mailing {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.inactive-blur {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.inactive-mailing {
    visibility: visible;
    opacity: 0;
    pointer-events: none;
}

.hovered {
    z-index: 10;
}

.lowered {
    z-index: 5;
    opacity: 0.3;
}

//Main Divs
#invisible {
    text-align: center;
    padding: 5%;
    position: fixed;
    height: 60%;
    top: 20%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.678);
    transition: opacity 0.3s ease-out;
    will-change: opacity;
    color: white;
}

#hero-back {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    img {
        width: 1536px;
    }
}

#hero {
    top: 0;
}

#about {
    margin: 8rem 0;
}

#project-board {
    background-image: url('imgs/Backgrounds/ProjectBoardBack.svg');
    background-size: cover;
}

#hack-nights {
    background-color: #2B2B2B;
    color: white;
}

#slack {
    margin-top: 20%;
    //Eventually make this javascript based, to make sure to clear the svg overhead. Or change structure
}

#contact {
    background-image: url("imgs/Backgrounds/ContactBack.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40%;
    padding-bottom: 20%;
    color: white;
}

#footer {
    background-color: black;
    height: 10vh;
}

//Items
#hero-text-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    color: white;
    overflow: hidden;
    #hero-img-container {
        height: 100%;
        padding: 0;
        #hero-rotated-row {
            transform: rotate(-20deg);
            margin-top: -15vh;
            .hero-img-col {
                padding: 0 3vw 0 3vw;
            }
            .hero-img {
                padding: calc(1rem + 1.5vw) 0 calc(1rem + 1.5vw) 0;
                min-width: 40px;
                transform: translate(1px);
                transition: transform 5s linear;
                width: 100%;
            }
        }
    }
}

#project-board-items {
    img {
        height: 150vh;
        margin: 60vh 0 0 -10vw;
        min-width: 60vw;
    }
    h2,
    p {
        color: white;
    }
    #project-text-container {
        margin-top: 60vh;
        right: 0;
    }
    .center-env {
        padding-top: 50vh;
    }
}

#night-text-containter {
    padding-left: 5rem;
}

#whatWeDo {
    margin-top: 20%;
    margin-bottom: -50%;
    opacity: 0.3;
}

.profile-row {
    margin: 5% 0 5% 0%;
}

.profile-icon {
    width: 80%;
}

.footer-col {
    margin: auto 0 auto 0;
    #footerLogo {
        font-family: $primaryFont;
    }
    p {
        color: white;
        display: inline;
    }
}

//Forms 
#formRow {
    padding-right: 1rem;
    font-size: calc(0.4rem + 1vw);
}

.form-control {
    margin: 3px 0;
    position: relative;
    z-index: 2;
    font-family: $subFont;
    font-size: calc(0.4rem + 1vw);
}

.input-col {
    padding-left: 3px;
    padding-right: 3px;
}

.gradient-border {
    @include poster;
    z-index: 1;
    border-radius: .25rem;
    display: none;
    background-image: linear-gradient(to right top, #dd00ff, #00bdff, #50e3c1);
}

#slackEmailRow {
    display: none;
}

//SVG's
#multipleGears {
    position: relative;
    bottom: 0;
    width: 100%;
}

.topWaves {
    top: 0;
    width: 100vw;
}

#bottomWaves {
    bottom: 0;
    width: 100vw;
}

.top-wave {
    position: absolute;
    bottom: 0;
}

.bottom-wave {
    position: absolute;
    top: 0;
    transform: rotate(180deg);
}

.upperWave {
    z-index: 2;
}

.lowerWave {
    z-index: 1;
}

#slack-svg-div {
    margin-top: 10%;
}

.prof-icon-row {
    height: 20%;
}

//Text
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primaryFont;
}

h1 {
    font-size: calc(3rem + 3vw);
    letter-spacing: calc(0.05rem + 0.1vw);
}

h2 {
    font-size: calc(2rem + 2vw);
    letter-spacing: calc(0.05rem + 0.1vw);
}

h3 {
    font-size: calc(0.3rem + 2vw);
    letter-spacing: 0.02rem;
}

h4 {
    font-size: calc(0.7rem + 1vw);
}

p {
    font-family: $subFont;
    font-size: calc(0.5rem + 1vw);
}