//Fonts
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$primaryFont: 'Anton',
sans-serif;
$subFont: 'Raleway',
sans-serif;
//Misc
//Mixins
@mixin center {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin poster {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

//Misc 
body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 0;
}

.center-container {
    @include center;
}

.poster {
    @include poster;
}

.colored-text {
    background: -webkit-linear-gradient(-30deg, #9D67E3, #6BB7CD);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.enphasis {
    font-weight: bolder;
}

.btn {
    font-family: $primaryFont;
    border: none;
    padding: .8rem 2rem;
    font-size: 1.3rem;
    letter-spacing: calc(0.02rem + 0.05vw);
}

.btn-primary {
    background: -webkit-linear-gradient(-30deg, #9D67E3, #6BB7CD);
    color: white;
    font-family: $primaryFont;
    border: none;
    padding: .8rem 2rem;
    font-size: 1.3rem;
}

.btn-secondary {
    background-color: white;
    color: gray;
}

//SVG's
#multipleGears {
    position: relative;
    bottom: 0;
    width: 100%;
}

#topWaves {
    top: 0;
    width: 100vw;
}

#bottomWaves {
    bottom: 0;
    width: 100vw;
}

.top-wave {
    position: absolute;
    bottom: 0;
}

.bottom-wave {
    position: absolute;
    top: 0;
}

.upperWave {
    z-index: 2;
}

.lowerWave {
    z-index: 1;
}

//Main Divs
#about {
    margin: 8rem 0;
}

#project-board {
    background-image: url('imgs/Backgrounds/ProjectBoardBack.svg');
    background-size: cover;
}

#hack-nights {
    background-color: #2B2B2B;
    color: white;
}

//Items
#hero-text-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    color: white;
    padding-left: 8rem;
    overflow: hidden;
    #hero-img-container {
        height: 100%;
        padding: 0;
        #hero-rotated-row {
            transform: rotate(-20deg);
            margin-top: -15vh;
            .hero-img-col {
                padding: 0 3vw 0 3vw;
            }
            .hero-img {
                padding: calc(1rem + 1.5vw) 0 calc(1rem + 1.5vw) 0;
                min-width: 40px;
                transform: translate(1px);
                transition: transform 5s linear;
                width: 100%;
            }
        }
    }
}

#project-board-items {
    img {
        height: 150vh;
        margin: 60vh 0 0 -10vw;
        max-width: 60vw;
    }
    h2,
    p {
        color: white;
    }
    #project-board-center-container {
        margin-top: 10vh;
    }
    .center-env {
        padding-top: 50vh;
    }
}

#night-text-containter {
    padding-left: 5rem;
}

//Text
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primaryFont;
}

h1,
h2 {
    font-size: calc(0.7rem + 5vw);
    letter-spacing: calc(0.05rem + 0.1vw);
}

p {
    font-family: $subFont;
    font-size: calc(0.7rem + 0.6vw);
}